body {
    display: flex;
    justify-content: center;
    font-family: neon;
    background-color: #170000;
    color: #FFE9E9;
}

svg {
    fill: #FFE9E9;

}

h2, h3 {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: center;
    
}

    

.icons {
    display: flex;
    justify-content: space-between;
}

.clock-time {
    font-size: 8vw;
}

.controls {
    display: flex;
    justify-content: center;
}

.inks {
    display: flex;
    justify-content: space-between;
    margin-top: 4vw
}

.sub-inks {
    display: block;
}

.icons {
    display: flex;
    justify-content: space-between;
}

.time {
    display: flex;
    justify-content: center;
    font-size: 2vw;
}

.label {
    display: flex;
    justify-content: center;
}

.timer {
    letter-spacing: 0.3em;
    margin-left: .3em;
    width: 6em;
}

.inks .clocktime {
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.inks .sub-icon, 
.inks .add-icon {
    width: 8px;
}

button {
    background-color: transparent;
    color: #FFE9E9;
    outline: none;
    border: none;
    cursor: pointer;
}

.controls button {
    font-family: neon;
    font-size: 4vw;
    margin: 0 2vw;
    transition: all 0.25s ease-in-out;
}

.controls button:hover {
    cursor: pointer;
}

#play {
    color: #00ffff;
}

#restart {
    color: #ff0000;
}

#play:hover {
    color: #fff;
    text-shadow: 0 0 8px #00ffff, 0 0 12px #00ffff, 0 0 6px #00ffff, 0 0 20px #00ffff;
}

#restart:hover {
    color: #fff;
    text-shadow: 0 0 8px #ff0000, 0 0 12px #ff0000, 0 0 6px #ff0000, 0 0 20px #ff0000;
}




